In [4]:
import numpy as np
import pandas as pd
import sklearn

In [62]:
df = pd.read_csv('Boston.csv')
df.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

# Splliting data into training and testing set

In [71]:
from sklearn.model_selection import train_test_split
X = np.array(df.iloc[:,1:14])
y = np.array(df['medv'])
X_train ,X_test,y_train, y_test = train_test_split(X,y,test_size = 0.3)

# Hyperparameter tuning

Finding the optimal KNN parameter for better accuracy (Less error rate - mse)

In [103]:
import sklearn
mse_ls= []
K_ls = []
for i in range(1,50):
    model = KNeighborsRegressor(i)
    model.fit(X_train,y_train)    #Training using train set
    pred_t = model.predict(X_test)  #Prediction using test set
    mse = sklearn.metrics.mean_squared_error (y_test, pred_t, squared = False)  #Finding error between prediction and tested value
    mse_ls.append(mse)

K = mse_ls.index(min(mse_ls))  #Optimal KNN parameter

# Fitting train sets

In [104]:
from sklearn.neighbors import KNeighborsRegressor

Nn = KNeighborsRegressor(K)
Nn.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                    weights='uniform')

# Prediction using test sets

In [106]:
pred = Nn.predict(X_test)
pred

array([19.075,  8.55 , 29.7  ,  8.45 , 14.45 , 32.175, 12.3  , 11.15 ,
       13.   , 21.025, 16.675, 18.725, 20.725, 18.025, 19.675, 20.375,
       31.15 , 25.15 , 23.55 , 31.875, 21.7  , 21.325, 43.225, 26.425,
       21.325, 11.575, 25.525, 17.675, 23.875, 22.   , 23.6  , 24.1  ,
       12.875, 26.15 , 26.925, 31.675, 20.55 , 24.35 , 24.75 , 15.75 ,
       27.075, 19.625, 22.3  , 13.525, 11.45 , 23.8  , 14.45 , 22.225,
       20.225, 19.6  , 23.175, 11.225, 23.6  , 31.125, 19.325, 16.175,
       28.925, 17.425, 20.6  , 17.275, 27.325, 23.35 , 14.85 , 24.7  ,
       34.05 ,  9.375, 12.25 , 17.825, 12.25 , 28.025, 35.7  , 14.675,
       13.   , 19.4  ,  9.375, 21.9  , 24.85 , 23.75 , 41.   , 24.925,
       28.975, 43.225, 27.275, 28.375, 23.2  , 20.7  , 25.2  , 16.45 ,
       31.275, 21.1  , 28.   , 20.75 , 20.425, 14.825, 36.85 , 17.35 ,
       25.575, 26.275, 27.725, 17.275, 17.9  , 32.3  , 17.35 , 24.7  ,
       25.425, 17.6  , 23.05 , 24.45 , 33.45 , 19.05 , 25.75 , 26.725,
       37.675, 13.125, 23.35 , 29.55 , 27.225, 30.725, 22.125, 26.475,
       24.975, 24.95 , 20.425, 22.45 , 21.925, 43.225, 15.175, 14.45 ,
       31.45 , 22.625, 30.3  , 11.975, 21.65 , 23.35 , 21.9  , 15.9  ,
       16.675, 16.9  , 21.325, 23.35 , 24.575, 15.5  , 19.575, 31.65 ,
       26.625, 20.75 , 22.925, 25.775, 19.075, 17.5  , 11.125, 12.1  ])